<% configs = @project.repositories
             .select { |r| r.is_a?(Repository::Git) }
             .filter_map(&:git_mirror_config) %>

<p><%= link_to l(:label_git_mirror_new), new_git_mirror_config_path(@project), class: 'icon icon-add' %></p>

<% if configs.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
  <% configs.each do |mirror| %>
    <% status = mirror.stale_sync? ? 'stale' : (mirror.syncing? ? 'running' : mirror.last_sync_status.to_s) %>
    <fieldset class="box">
      <legend><strong><%= h mirror.repository&.name.presence || mirror.remote_url %></strong></legend>
      <dl>
        <dt><%= l(:label_remote_url) %></dt>
        <dd><code><%= h mirror.remote_url %></code></dd>
        <dt><%= l(:label_sync_status) %></dt>
        <dd>
          <span class="git-mirror-badge git-mirror-badge-<%= status %>">
            <%= l(:"label_sync_status_#{status.presence || 'pending'}", default: status.humanize) %>
          </span>
        </dd>
        <dt><%= l(:label_last_sync) %></dt>
        <dd>
          <% if mirror.last_sync_at %>
            <%= format_time(mirror.last_sync_at) %>
          <% else %>
            <%= l(:label_last_sync_never) %>
          <% end %>
        </dd>
      </dl>
      <p>
        <%= link_to l(:label_sync_now),
                    trigger_sync_git_mirror_config_path(@project, mirror),
                    method: :post, class: 'icon icon-reload' %>
        &nbsp;
        <%= link_to l(:button_edit),
                    edit_git_mirror_config_path(@project, mirror),
                    class: 'icon icon-edit' %>
        &nbsp;
        <%= link_to l(:label_git_mirror_sync_logs),
                    git_mirror_sync_logs_path(@project, git_mirror_config_id: mirror.id),
                    class: 'icon icon-time' %>
        &nbsp;
        <%= link_to l(:button_delete),
                    confirm_destroy_git_mirror_config_path(@project, mirror),
                    class: 'icon icon-del' %>
      </p>
    </fieldset>
  <% end %>
<% end %>
